{
  "plugins": ["prettier-plugin-rust"],
  "overrides": [
    {
      "files": "*.rs",
      "options": {
        "parser": "jinx-rust"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "trailingComma": "all",
        "singleQuote": true,
        "printWidth": 120,
        "parser": "typescript"
      }
    }
  ]
}
